.u-content-center {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 1rem;

  @include respond(tab-port) {
    max-width: 90rem;
  }

  @include respond(phone) {
    max-width: 50rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
